.footer {
  background-color: black;
}

.footer-top-content p {
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
}

.footer-top-icon img {
  margin: 0px 5px;
  width: 40px;
}

.footer-top hr {
  color: white;
  height: 2px;
}

.footer-mid h5 {
  color: #d1a02f;
  text-align: start;
  padding: 10px 0px;
}

.footer-mid p {
  color: white;
  font-size: 17px;
}

.footer-mid a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.footer-mid a:hover {
  color: #d1a02f;
  transition: 0.5s;
}

.card-atm img {
  width: 15%;
  margin-right: 5px;
}

.footer-mid button {
  background-color: #d1a02f;
  color: white;
}

.footer-mid button:hover {
  background-color: #e5c16c;
  color: white;
}

.link-banner a img {
  width: 15%;
  margin-right: 5px;
}

.footer-bot p {
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
  margin: 0;
}